/* macOS font එක වගේ පේන Roboto font එක import කරනවා */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* macOS theme එකේ light gray background එක */
  background-color: #e9e9eb; 
  color: #333;
}

* {
  box-sizing: border-box;
}